body {
	margin: 0;
	font-family: Helvetica, Arial, sans serif;
	text-align: justify;
}

header{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #EBF5FB;
	text-align: center;
	font-family: Helvetica, Arial, sans serif;

}

header h1 {
	font-size: 80px;
	
}

header img {
	width: 150px;
	border-radius: 120px;

}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

main img {
}

/* the following stuff styles the big element boxes, but I also want to style the pictures independently from the element boxes */

#about{
	float: left;
	width: 50%;
}
#image{
	float: right;
	width: 50%;
}

#biography{
	float: left;
	width: 50%;
}

#mediaetc {
	float: right;
	width: 50%;
}

img {
	width: 400px;
}